<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{data.title}}</title>
    <style>{{"https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"|download}}</style>
    <style>{{"https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"|download}}</style>
    <style>{{"https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"|download}}</style>
    <style>
.group { display: flex; padding-top: 2rem; }
.links { flex: 1; }
.title { width: 15rem; font-size: 2rem; }
.button { min-width: 18rem; }
.searchform { display: flex; padding-top: 2rem; max-width: 70rem; }
.button.button-outline:focus, .button.button-outline:hover { background-color: #ecdcf4; color: #9b4dca; }
    </style>
  </head>
  <body>
    <main class="container">
      <form id="search" action="http://www.google.com/search" class="searchform" method="get" name="searchform" onsubmit="javascript:return ">
        <input id="query" type="text" placeholder="Search with Google" class="form-controls search" required="required" autocomplete="on" name="q" autofocus>
        <button class="button" type="submit">Search</button>
      </form>
      {% for group in data.groups %}
      <section class="group">
        <div class="title">{{group.name}}</div>
        <div class="links">
          {% for link in group.links %}
          <a class="button button-outline" href="{{link.url}}">{{link.title}}</a>
          {% endfor %}
        </div>
      </section>
      {% endfor %}
    </main>
    <script>
const urlMatcher = /(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-z]{2,5}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/;
document.getElementById("search").onsubmit = function() {
  const text = String(document.getElementById("query").value);
  const urlWasEntered = urlMatcher.test(text);
  if (urlWasEntered) {
    const url = text.startsWith('http') ? text : 'https://' + text;
    location.assign(url);
  }
  return !urlWasEntered;
}
    </script>
  </body>
</html>
